<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstLineIndent</key>
		<real>0</real>
		<key>font</key>
		<string>SignaColumn-Book|1.6</string>
		<key>fontColor</key>
		<string>{0.3, 0.3, 0.3,1.0}</string>
		<key>lineBreakMode</key>
		<integer>0</integer>
		<key>lineHeight</key>
		<real>1.200000047683716</real>
		<key>lineHeightMax</key>
		<real>1.200000047683716</real>
		<key>lineLeading</key>
		<real>1</real>
		<key>marginBottom</key>
		<real>10</real>
		<key>marginLeft</key>
		<real>0</real>
		<key>marginRight</key>
		<real>0</real>
		<key>marginTop</key>
		<real>0</real>
		<key>name</key>
		<string>h1</string>
		<key>textAlignment</key>
		<integer>0</integer>
		<key>textTransform</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>firstLineIndent</key>
		<real>0</real>
		<key>font</key>
		<string>SignaColumn-Book|1.4</string>
		<key>fontColor</key>
		<string>{0.5,0.5,0.5,1.0}</string>
		<key>lineBreakMode</key>
		<integer>0</integer>
		<key>lineHeight</key>
		<real>1.200000047683716</real>
		<key>lineHeightMax</key>
		<real>1.200000047683716</real>
		<key>lineLeading</key>
		<real>1</real>
		<key>marginBottom</key>
		<real>10</real>
		<key>marginLeft</key>
		<real>0</real>
		<key>marginRight</key>
		<real>0</real>
		<key>marginTop</key>
		<real>0</real>
		<key>name</key>
		<string>h2</string>
		<key>textAlignment</key>
		<integer>0</integer>
		<key>textTransform</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>firstLineIndent</key>
		<real>0</real>
		<key>font</key>
		<string>SignaColumn-Book|1</string>
		<key>fontColor</key>
		<string>#000000</string>
		<key>lineBreakMode</key>
		<integer>0</integer>
		<key>lineHeight</key>
		<real>1</real>
		<key>lineHeightMax</key>
		<real>1</real>
		<key>lineLeading</key>
		<real>1</real>
		<key>marginBottom</key>
		<real>10</real>
		<key>marginLeft</key>
		<real>0</real>
		<key>marginRight</key>
		<real>0</real>
		<key>marginTop</key>
		<real>10</real>
		<key>name</key>
		<string>img</string>
		<key>textAlignment</key>
		<integer>2</integer>
		<key>textTransform</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>firstLineIndent</key>
		<real>20</real>
		<key>font</key>
		<string>SignaColumn-Book|1</string>
		<key>fontColor</key>
		<string>{0.0,0.0,0.0,1.0}</string>
		<key>lineBreakMode</key>
		<integer>0</integer>
		<key>lineHeight</key>
		<real>1.399999976158142</real>
		<key>lineHeightMax</key>
		<real>1.399999976158142</real>
		<key>lineLeading</key>
		<real>1</real>
		<key>marginBottom</key>
		<real>10</real>
		<key>marginLeft</key>
		<real>0</real>
		<key>marginRight</key>
		<real>0</real>
		<key>marginTop</key>
		<real>0</real>
		<key>name</key>
		<string>p</string>
		<key>textAlignment</key>
		<integer>3</integer>
		<key>textTransform</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>firstLineIndent</key>
		<real>0</real>
		<key>font</key>
		<string>SignaColumn-Book|1</string>
		<key>fontColor</key>
		<string>{0.0,1.0,1.0,1.0}</string>
		<key>lineBreakMode</key>
		<integer>0</integer>
		<key>lineHeight</key>
		<real>1</real>
		<key>lineHeightMax</key>
		<real>1</real>
		<key>lineLeading</key>
		<real>1</real>
		<key>marginBottom</key>
		<real>10</real>
		<key>marginLeft</key>
		<real>0</real>
		<key>marginRight</key>
		<real>0</real>
		<key>marginTop</key>
		<real>0</real>
		<key>name</key>
		<string>a</string>
		<key>textAlignment</key>
		<integer>2</integer>
		<key>textTransform</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
